h2 {
    padding-bottom: 20px;
}

.button {
    width: 20%;
}

.pageNumber {
    margin: auto;
    width: 5%;
    padding-bottom: 50px;
}

.myInput {
    text-align: center;
}

.myButton {
    margin-top: 20px;
}
